* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.25s linear;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: rgb(41, 41, 41);
  color : white;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
a{
  text-decoration: none;
  color:  inherit;
}

*{
  --background-green : rgb(0, 167, 0);
  --font-color-black : black;
  --font-color-white : white;
  --text-gradient-yellow : rgb(255, 191, 0);
  --text-gradient-cyan : rgb(0, 166, 255);
  --background-color: rgb(41, 41, 41)

}
div{
  padding: 10px;
}
*::-webkit-scrollbar{
  width: 5px;
  background-color: transparent;
}
*::-webkit-scrollbar-thumb{
  background-color: rgba(121, 121, 121, 0.373);
  border-radius: 2px;
  
}
*::-webkit-scrollbar-track{
  background-color: rgba(255, 255, 255, 0);
}
*::-webkit-scrollbar:hover *::-webkit-scrollbar-thumb{
  width: 20px;
}
img{
  object-fit: cover;
}