.container{
    max-width: min(100vw,1000px);
    display: flex;
    flex-direction: column;
}

.blogData{
    display: flex;
    gap: 30px;
    border-radius: 10px;
}
.image{
    position: relative;
    height: 200px;
    width: 400px;

}
.content{
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    gap : 10px;
}
.content h3{
    font-size: 30px;
}
.blogsContainer{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: min(1000px , calc(100vw - 20px));
}
.content p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}
.blogData:hover{
    box-shadow: 0 0 10px 0 var(--background-green);
}

.image > img{
    border-radius: 5px;
}

@media (max-width : 760px){
    .blogData{
        flex-direction: column;
        width: min(calc(100vw - 30px) , 400px);
    }
    .image{
        max-width: min(calc(100vw - 40px) , 390px);
        align-self: center;
    }
}
